.my-button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid purple;
    font-size: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    outline: none;
  }
  
  .my-button:hover {
    background-color: purple; 
    color: white;
  }

  .my-button2 {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid purple;
    font-size: 12px;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    outline: none;
  }
  
  .my-button2:hover {
    background-color: purple; 
    color: white;
  }